body {
  background-color: lightgrey;
}

.loginContainer {
  margin: 10% auto;
  width: 32%;
  height: 20em;
  background-color: whitesmoke;
  border: dodgerblue 1px solid;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
}

.loginLabel {
  margin: 10% 5% 5% 5%;
  align-self: center;
  border: green 1px solid;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: black 1px solid;
  margin: 5%;
  width: 90%;

}

.loginFormChild {
  margin: 5%;
  width: 220px;
  padding: 2px;
}